@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Transitions */
  --ease-smooth: cubic-bezier(0.4, 0, 0.2, 1);

  /* LIGHT THEME */
  /* Backgrounds */
  --bg-base: #f9f8f3;
  --pattern-base-bg:
    linear-gradient(to right, #44403c0d 1px, transparent 1px),
    linear-gradient(to bottom, #44403c0d 1px, transparent 1px);

  /* Colors */
  --text-base: #111;

  /* Accents */
  --color-accent: #92400e;
}

.dark {
  /* DARK THEME */
  /* Backgrounds */
  --bg-base: #111;
  --pattern-base-bg:
    linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);

  /* Colors */
  --text-base: whitesmoke;

  /* Accents */
  --color-accent: #d4af37;
}

@layer base {
  * {
    @apply transition-colors duration-400;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.active {
  color: var(--color-accent);
}
